.ai-header-row {
    width: 100%;
    height: 600px !important;
    background-image: url(assets/img/ai_bg_top.gif);
}

.header {
    position: fixed;
    width: 100%;
    height: max-content;
    padding: 0 8px 10px 10px;
    z-index: 99;
}



.menu {
	top: 0;
	background-color: hsl(0, 0%, 100%);
	width: 80px;
	height: 110px;
	border-radius: 0 0 100px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	font-size: 36px;
	cursor: pointer;
	cursor: pointer;
	transition: 0.3s;
	/* animation: test 2s infinite; */
}

.menu:hover {
	transition: 0.3s;
	height: 120px;
}

.logo{
	width: 65px;
	margin-top: 25px;
}

.menu span {
	color: #000000;
	font-size: 36px;
}

.menu-img{
	margin-top: -35px;
	width: 25px;
}

.fixed-header {
    position: fixed;
    top: -100%;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #5E96DC;
    z-index: 999;
    border-radius: 50%;
    transition: linear 0.5s;
    opacity: 0;
}

.menu_scroll_slide{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menu_scroll_slide img {
	opacity: 0.6;
	border-radius: 30px;
	margin-top: 0%;
	margin-bottom: 20px;
	width: 800px;
	height: 420px;
}

.menu_scroll_slide a {
	text-align: center !important;
	color: #ffffff;
	text-decoration: none;
	font-size: 40px;
	font-weight: bold;
}

.menu_scroll_slide a:hover {
	color: lawngreen !important;
}

.fixed-button-2 {
	position: fixed;
	left: 0;
	top: 35%;
	transform: translateY(-50%);
	z-index: 9999;
	color: #ffffff !important;
}

.fixed-button-2 a {
	width: 100px;
	color: #000000;
	background-color: #a3ffff !important;
	transform: rotate(90deg);
	margin-left: -30px !important;
	font-weight: bold;
}

.fixed-button-2 a:hover {
	background-color: #ffe6a6 !important;
}

.fixed-button-2 a:hover span {
	display: none;
}

.fixed-button-2 a:hover::before {
	color: #000000;
	content: 'Play' !important;
	src: format('https://quizizz.com/join/quiz/6128e81a91e999001d4fda0f/start?studentShare=true') !important;
	font-size: 20px;
}
.swiper-button-next, .swiper-button-prev{
	color: #000000;
	font-weight: bold;
}

.menu_scroll_slide a:hover+.menu_scroll_slide img {
	opacity: 1 !important;
}

.menu_topics {
	position: fixed;
	top: 10%;
	left: 30%;
	z-index: 99;
	color: #ffffff;
	font-size: 40px;
	font-weight: bold;
}

.menu_topics a {
	text-align: center !important;
	color: #ffffff;
	text-decoration: none;
}

.menu_topics a:hover {
	color: lawngreen !important;
}

.close-fixed-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 36px;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 0 0 50px 50px;
    transition: ease-in-out 0.1s;
}

.close-fixed-header:hover {
    transition: ease-in-out 0.1s;
    height: 60px;
}


.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation div {
    margin-top: -30px !important;
}

.navigation button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.navigation button:nth-child(2) {
    animation-delay: 0.1s;
}

.navigation button:nth-child(2) {
    animation-delay: 0.5s;
}

.navigation button:nth-child(3) {
    animation-delay: 1.2s;
}

.navigation button:hover {
    background-color: #e4e4e4;
}

.navigation button i,
span {
    font-size: 20px;

}

body{
    background-color: #242A4A;
}

.history-start-gif {
    width: 100%;
    height: 400px;
    background-size: cover;
    margin: 0px !important;
    background: url(assets/img/sparkle.gif);
    height: 85vh;
    width: 100%;
    background-size: cover;
    padding: 0px;
}

.history-start-gif .col-md-4{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.history-start-gif .col-md-8{
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-start-gif h1{
    color: #FFFF00;
    font-family: 'Cooper Black', sans-serif;
    font-size: 75px;
    text-align: center;
    margin-left: 140px;
    margin-top: -50px;
}

.history-start-gif img{
    width: 100%;
    height: 450px;
    margin-top: 68px !important;
    margin-left: -100px !important;
}


.footer {
    margin-top: 20px;
    padding: 15px 0;
    background-color: #eeeeee;
}

.footer p {
    font-weight: bold;
    margin: 0;
    text-align: center !important;
}

.history-intro-heading{
    padding: 0%;
}

.history-intro-heading h1{
    font-family: 'Cooper Black', sans-serif;
    font-weight: 500;
    text-align: center;
    background-color: #ffffff;
    color: #242A4A;
    padding: 10px 0;
    font-size: 60px;
    margin: 0% !important;
}

.history-intro-heading p{
    color: #ffffff;
    font-size: 20px;
    padding: 10px 60px;
}

.section7-row{
	display: flex;
	justify-content: center;
	align-items: center;
}

.video_margin{
	margin-left: -10%;
}

.video-text{
	background-color: #eeeeee;
	padding: 0px 0;
	width: 40%;
	margin-left: 30%;
	height: max-content;
	margin-top: -5%;
	border-radius: 5px;
}

.margin-less-text-video{
	margin-top: 0 !important;
	width: 85%;
	/* margin-left: 5.5% !important; */
}

.video-text-content{
	font-weight: bold;
	text-align: center;
	margin: 0 !important;
	font-size: 18px;
}

.video-text-soure_video{
	font-size: 13px !important;
	text-align: center;
	margin: 0 !important;
}



.video-container {
    display: flex;
    justify-content: flex-end;
	/* width: 40%; */
	height: max-content;
}

.justifiy{
    justify-content: center !important;
}

.video-container video {
	z-index: 999;
	width: 60%;
	height: 100%;
	border: 5px solid #ffffff;
	border-radius: 6px;
}

.video-container img {
	z-index: 999;
	width: 60%;
	height: 360px;
	border-radius: 6px;
}
.section1-letsstart{
    padding: 10px 60px;
    font-size: 20px;
}

.section2-container-1{
    padding: 0 40px 0 60px;
    color: #ffffff;
}

.section2-container-1 h1{
    color: #00D1E5;
    font-weight: bold;
}

.section2-container-1 p{
    font-size: 20px;
}

.section2-container-1 img{
    width: 80%;
}

.section2-container-1 div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion{
	width: 90%;
	margin-left: 5%;
    margin-top: 3%;
}

.accordion-item{
	margin-top: 5px;	
}

.accordion-button{
	background-color: transparent;
	color: darkblue;
	font-weight: bold;
}

.section2-container-3{
    padding-left: 30px;
    padding-right: 30px;
}

.section2-container-3 h1{
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
}

.section2-container-3 p{
    padding-left: 40px;
    margin-top: 10px;
    color: #ffffff;
    font-size: 20px;
}

.section3{
    background-color: #7061B2;
    padding: 20px 40px;
}

.section3 h1{
    color: #00D1E5;
    font-weight: bold;
    font-size: 50px;
}

.section3 p{
    color: #ffffff;
    font-size: 20px;
}

.section4{
    padding: 20px 40px;
}

.section4 h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
}

.section4 p{
    color: #ffffff;
    font-size: 20px;
}

.section5{
    padding: 20px 40px;
}

.section5-container-1 h1{
    color: #00D1E5;
    font-weight: bold;
    font-size: 50px;
}

.section5-container-2{
    display: flex;
}

.section5-container-2 img{
    width: 700px;
    height: 400px;
}

.section5-container-2 p{
    color: #ffffff;
    font-size: 20px;
}

.section5-container-3 p{
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
}

.section6{
    color: #000000;
    display: flex;
    justify-content: center;
}

.section6 .container-fluid{
    background-color: #79F3EF;
    width: 95%;
    padding: 30px 20px;
}

.section6 h1{
    font-weight: bold;
}

.section6 p{
    font-size: 20px;
    font-weight: 500;
}

.section7-row {
    /* width: 20cm; */
    margin: 10px 0px;
    /* padding-left: 100px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section7-row .col-md-6{
	margin-left: -60px;
	display: flex;
	justify-content: center;
}

.section7-row img{
    width: 50%;
}

.video-container img{
    width: 80%;
}

.section7-row button{
    border-radius: 50%;
    background-color: #00D1E5;
    width: 60px;
    height: 60px;
    margin-right: -40px;
    margin-top: 5%;
    z-index: 999;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section7-row button:hover{
    background-color: #F98935;
}

.section7-row button img{
    margin-left: 5px;
}

p{
	text-align: justify !important;
}
@media (max-width: 1024px) {
    .section5-container-2 img {
        max-width: 100%;
        height: auto;
    }
    .history-start-gif img{
        height: 350px;
    }
    .section5-container-2 p{
        font-size: 14px;
    }
    .menu_scroll_slide img{
        width: 80%;
        height: auto;
    }
}
@media (max-width: 767px) {
    .history-start-gif h1{
        font-size: 32px;
    margin: 0;
    margin-top: 140px;
    }
    .section4{
        padding: 20px 15px;
    }
    .section4 h1{
        font-size: 24px;
    }
    h1{
        font-size: 24px;
    }
    p{
        font-size: 16;
    }
    .history-intro-heading p{
        padding: 10px 15px;
    }
    .section4 p{
        font-size: 16px;
    }
    .history-start-gif img{
        display: none;
    }
    .history-intro-heading h1{
        font-size: 29px;
    }
    .navigation button {
		width: 40px;
		height: 40px;
	}

	.menu_topics {
		position: fixed;
		top: 10%;
		left: 30%;
		z-index: 99;
		color: #ffffff;
		font-size: 40px;
		font-weight: bold;
	}

	.menu_topics a {
		text-align: center !important;
		color: #ffffff;
		text-decoration: none;
	}

	.menu_topics a:hover {
		color: lawngreen !important;
	}

	.menu_scroll_slide img {
		width: 100%;
		height: auto;
		margin: 0;
		margin-top: 130px;
	}

    .section5-container-2 img{
		max-width: 100%;
	}
    .section5-container-1 h1 {
        color: #00D1E5;
        font-weight: bold;
        font-size: 38px;
    } 
    .section7-row button {
        border-radius: 50%;
        background-color: #00D1E5;
        width: 37px;
        height: 37px;
        margin-right: -31px;
        margin-top: 5%;
        z-index: 999;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section2-container-1{
        padding: 0 15px 0 15px;
    }
    h1{
        font-size: 24px !important;
    }
    p{
        font-size: 16px !important;
    }
    .section2-container-3 p{
        padding-left: 15px;
    }
    .section3, .section5{
        padding: 20px 15px;
    }
    
	.menu{
		width: 65px;
		height: 70px;
	}
    .menu > img{
        display: none;
    }
	.menu:hover{
		height: 80px;
	}
    .fixed-button-2{
		top: 20%;
	}
    .menu_scroll_slide a{
        font-size: 22px;
    }
    .menu_scroll{
        height: 100%;
    }
    .menu_scroll_slide img{
        margin: 0;
    }
    .fixed-header > .container-fluid{
        height: 100%;
    }
    .history-start-gif div {   
        height: 100%;
    }
    .history-start-gif h1{
        margin-top: 0;
    }
    .section7-row img{
        width: 80%;
    }
}